.nav-tabs .nav-link {
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
 
}
a{
    color:#495057
}

h1 {
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}