.hero-container img {
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: absolute;
    z-index: -1;
    filter: blur(1px);
  }
  
  .go-down {
    color: rgb(8, 35, 70);
    font-size: 4rem;
  }
  
  .hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    object-fit: contain;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 10%;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 100px;
  }
  
  .hero-container > p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  
  .hero-btns {
    margin-top: 22px;
  }
  
  .hero-btns .btn {
    margin: 6px;
    width: 150px;
    height: 50px;
    white-space: nowrap;
  }
 
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
    }
    .hero-container > p {
      font-size: 30px;
      text-align: center;
    }
    .hero-container {
        margin-top: 10%;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }
  