.root {
    margin-top: 10%;
}
.root h2 {
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.form {
    width: 50%;
    margin-left: 25%;
}

.button {
    background:linear-gradient(to right, #3a7bd5, #3a6073) ;
    width: 100%;
}