.teacher-hero{
    background-image:url("../../../assets/inst3.jpg");
    padding:10px 0;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.teacher-hero h1{
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 4rem;
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.teacher-hero p{
    letter-spacing: -.02rem;
    line-height: 1.6em;
    font-size: 1.4rem;
  
}

.teacher-hero .heading{
    margin-top:300px;
    text-align: right;
}

.teachers-list{
    margin-top:50px
}

@media (max-width: 767px) {

    .teacher-hero .heading{
        text-align: center;
        margin-top:150px;
    }
}

@media (max-width: 575px) {
    .teacher-hero{
        margin: 0;
    }

    .teacher-hero .heading{
        margin-top:0px;
    }

    .teacher-hero h1{
        font-size: 3.5rem;
    }

    .teacher-hero p{
        letter-spacing: 0rem;
        line-height: 1em;
        font-size: 1.4rem;
        
    }
}