.courses-hero{
    background-image: url("../../../assets/photo-1516397281156-ca07cf9746fc.jfif");
    padding:10px 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.courses-hero h1{
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 4rem;
    background: linear-gradient(to right, #3a7bd5, #3a6073);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.courses-hero p{
    letter-spacing: -.02rem;
    line-height: 1.6em;
    font-size: 1.4rem;
}

.courses-hero .heading{
    margin-top:300px;
}

.courses-list{
    margin-top:50px
}

@media (max-width: 767px) {

    .courses-hero .heading {
        text-align: center;
        margin-top:150px;
    }
}

@media (max-width: 575px) {
    .courses-hero{
        margin: 0;
    }

    .courses-hero .heading{
        margin-top:0px;
    }

    .courses-hero h1{
        font-size: 3.5rem;
    }

    .courses-hero p{
        letter-spacing: 0rem;
        line-height: 1em;
        font-size: 1.4rem;
        
    }
}